:root {
    --clr0: #fff; /* Light background color */
    --clr1: #000226; /* Dark primary color */
    --clr2: #6c757d; /* Secondary gray color */
    --clr3: #fff; /* White color */
    --clr-primary: #000226; /* Primary blue color */
    --clr-success: #28a745; /* Success green color */
    --clr-info: #25cff2; /* Info color (light blue) */
    --clr-danger: #dc3545; /* Danger color (red) */
    --clr-warning: #ffc107; /* Warning yellow color */
    --clr_Available: rgb(0, 200, 0);
    --clr_Occupied: red;
    --clr_Maintenance: orange;
}
body {
    background-color: var(--clr0);
    color: var(--clr1);
}
.card-header {
    background-color: var(--clr-primary);
    color: var(--clr3);
}
.table th {
    background-color: var(--clr1);
    color: var(--clr3);
}


